<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link href="/img/favicon.png" rel="icon" type="image/x-icon" />
    <!-- Favicon by: https://www.flaticon.com/authors/becris -->
    <title>Recipes Arround the World</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Main Page</a>
            </li>
            <li>
                <a href="/form">New Recipe</a>
            </li>
        </ul>
    </nav>
      
    <h1>Thank you for your support!</h1>
    <section class="codepens">
       <section class="text1">
            Hi there!

            We are Bernardo and Chanely and this is our final project for M02 at Blue Edtech, 
            a simple HTML5 + CSS3 + NodeJS + Express website to store Recipes.
        
            We've mixed all these CSS to compose our style:
       </section>
       
        <ul>
            <li><a href="https://codepen.io/travisw/pen/mOeLpP" target="blank">Recipe Card - travisw</a></li>
            <li><a href="https://codepen.io/wpcoder/pen/wPBMMK" target="blank">Recipe Card - wpcoder</a></li>
            <li><a href="https://codepen.io/petegarvin1/pen/YzWBbRx" target="blank">Profile Card - petegarvin1</a></li>
        </ul>
    </section>
    
    <h2>We're pretty cool, check it out! :B</h2>
    <section class="container">
        <section class="card card0">
            <section class="border">
                <h3>Chanely Marques</h3>
                <section class="icons">
                    <i class="fa fa-linkedin"><a href="https://www.linkedin.com/in/chanelym/" target="blank">LinkedIn</a></i>
                </section>
            </section>
        </section>

        <section class="card card1">
            <section class="border">
                <h3>Bernardo Noro</h3>
                <section class="icons">
                    <i class="fa fa-linkedin"><a href="https://www.linkedin.com/in/bernardofnoro/" target="blank">LinkedIn</a></i>
                </section>
            </section>
        </section>
    </section>    
</body>
</html>