<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/img/favicon.png" rel="icon" type="image/x-icon" />
    <!-- Favicon by: https://www.flaticon.com/authors/becris -->
    <title>Document</title>
</head>
<body>

    

        <section class="card-container">
            <section class="card u-clearfix">

              <section class="card-body">
                <span class="card-number card-circle subtle">01</span>
                <span class="card-author subtle">John Smith</span>
                <h2 class="card-title">New Brunch Recipe</h2>
                <span class="card-description subtle">These last few weeks I have been working hard on a new brunch recipe for you all.</span>
                <section class="card-read">Read</section>
                <span class="card-tag card-circle subtle">C</span>
              </section>

              <img src="https://s15.postimg.cc/temvv7u4r/recipe.jpg" alt="" class="card-media" />
            </section>

            <section class="card-shadow"></section>
          </section>
    

</body>
</html>